<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title> Cool Show</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" crossorigin="anonymous" />
  <link rel="icon" href="./favicon.ico" />
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <div class="page">
    <header class="page__header">
      <h1 class="title">Search for Cool TV Show</h1>
      <form class="main__search--form" id="form">
        <label for="search"></label>
        <input type="text" name="input" id="input-search">
        <button type="button" id="button-search" class="button__search--submit">Search</button>
    </header>
    <div class ="wrapper">
      <main class="main__results">
        <ul class="result__list" id="results"></ul>
    </main>
    <aside>
      <h2>Favourites TV Show</h2>
      <ul class="favourites ">
      <!--favoritos-->
      </ul>
    </aside>
  </div>
  </div>
  <script type="text/javascript" src="assets/js/main.js"></script>
</body>

</html>